// MAIN
html,
body {
  font-family: $font-name1;
  z-index: 0;
  background-color: $backgroudn;
}
a {
  color: $hvr;
  font-size: 14px;
  outline: none;
  border: 0;
  &:hover,
  &:active,
  &:focus {
    color: $blk;
    text-decoration: none;
  }
}
//BASE
.justify-content-between {
  justify-content: space-between;
}
.no-padding {
  padding: 0 !important;
}
// BUTTON
.btn-default {
  background: $blk;
  color: $wht;
  padding: 1rem 3.1rem;
  font-weight: 500;
  transition-duration: 0.3s;
  &:hover {
    background: $yel;
    color: $blk;
  }
  &:focus {
    background: $yellow;
    color: $blk;
  }
}

// HEADER
.header {
  background-color: $blk;
  .container-fluid {
    padding: 0 71px;
  }
  &__logo {
    display: flex;
    align-content: center;
    height: 48px;
    margin-right: 3.5rem;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &-section {
      display: flex;
      align-items: center;
    }
    &-item {
      font-size: $fs14;
      &-menu {
        display: flex;
        li {
          padding: 5px 12px;
        }
      }
      &-phone {
        display: block;
        background-color: $dark;
        height: 100%;
        padding: 6px 30px;
        text-align: center;
        a {
          color: $wht;
          font-family: inherit;
          font-weight: 500;
          font-size: $fs16;
        }
        .span {
          color: $hvr;
          font-size: $fs12;
          line-height: $fs14;
          font-weight: 300;
        }
      }
    }
    &-item + &-item-phone {
      margin-left: 16px;
    }
    &-item + &-item {
      margin-left: 24px;
    }
  }
}
// MENU
.menu {
  width: 100%;
  &__section {
    &-btn {
      padding: 18px 49px;
      background-color: $yel;
      font-weight: 500;
      &-icon {
        margin-right: 1rem;
      }
    }
    &-search {
      flex-grow: 1;
      height: 100%;
    }
  }
  &__search {
    height: 100%;
    &-input {
      width: 100%;
      padding: 1.125rem 0 1.125rem 2.875rem;
      border: 0;
    }
  }
  &__dropdown {
    padding: 1rem 2rem;
    position: absolute;
    z-index: 100;
    background: $wht;
    box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.03);
    &-menu {
      display: flex;
      flex-wrap: wrap;
    }
    &-main {
      width: 16.6666666667%;
      padding: 0 1rem 1rem 1rem;
      a {
        font-weight: 500;
        font-size: $fs16;
        line-height: 19px;
        color: $blk;
      }
    }
    &-sub {
      padding: 1rem 0;
      li {
        padding-bottom: 0.5rem;
      }
      a {
        font-weight: normal;
        font-size: $fs14;
        line-height: 16px;
        color: $gray;
        &:hover {
          color: $blk;
        }
      }
    }
  }
}
.slider {
  padding-top: 35px;
  .swiper__slide {
    display: block;
    background: $wht;
    height: 456px;
    border-bottom: 4px solid $yel;
    padding: 2rem 3rem;
    &-title {
      font-weight: 700;
      font-size: 2.25rem;
      line-height: 42px;
      margin-bottom: 2rem;
    }
    &-sub {
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 28px;
      margin-bottom: 0.5rem;
    }
    &-desc {
      font-weight: 300;
      font-size: 1.125rem;
      line-height: 24px;
      max-width: 408px;
    }
    &-img {
      position: absolute;
      right: -1rem;
      width: 423px;
      top: 30%;
    }
    &-btn {
      position: absolute;
      left: 3rem;
      bottom: 3rem;
    }
    &-prev, &-next {
      background: $lig;
      position: absolute;
      bottom: 3rem;
      width: 3rem;
      height: 3rem;
    }
    &-prev {
      right: 6.2rem;
    }
    &-next {
      background: $lig;
      right: 3rem;
    }
  }
}
