// MAIN
html,
body {
  font-family: $font-name1;
  z-index: 0;
  background-color: $backgroudn;
}
a {
  color: $hvr;
  font-size: 14px;
  outline: none;
  border: 0;
  &:hover,
  &:active,
  &:focus {
    color: $blk;
    text-decoration: none;
  }
}
//BASE
.justify-content-between {
  justify-content: space-between;
}
.no-padding {
  padding: 0 !important;
}
.container-fluid {
  padding: 0 3.5rem;
  @media ($tablet-lg) {
    padding: 0 0.5rem;
  }
  .row {
    margin: 0;
  }
}
//title {
.normal-title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}
// BUTTON
.btn-default {
  background: $blk;
  color: $wht;
  padding: 1rem 3.1rem;
  font-weight: 500;
  transition-duration: 0.3s;
  &:hover {
    background: $yel;
    color: $blk;
  }
  &:focus {
    background: $yellow;
    color: $blk;
  }
}
.btn-link {
  color: $yel;
  font-weight: 500;
}

// HEADER
.header {
  background-color: $blk;
  &__logo {
    display: flex;
    align-content: center;
    height: 48px;
    margin-right: 3.5rem;
    .nuxt-link {
      display: flex;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &-section {
      display: flex;
      align-items: center;
    }
    &-item {
      font-size: $fs14;
      &-menu {
        display: flex;
        li {
          padding: 5px 12px;
        }
      }
      &-phone {
        display: block;
        background-color: $dark;
        height: 100%;
        padding: 6px 30px;
        text-align: center;
        a {
          color: $wht;
          font-family: inherit;
          font-weight: 500;
          font-size: $fs16;
        }
        .span {
          color: $hvr;
          font-size: $fs12;
          line-height: $fs14;
          font-weight: 300;
        }
      }
    }
    &-item + &-item-phone {
      margin-left: 16px;
    }
    &-item + &-item {
      margin-left: 24px;
    }
  }
}
// footer
.footer {
  background-color: $blk;
  &__logo {
    margin-top: 2rem;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #343434;
  }
  &__menu {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    &-item {
      align-content: center;
      padding: 5px 12px;
      a {
        color: $wht;
        font-size: $fs16;
        font-weight: normal;
      }
      &:first-child {
        padding-left: 0;
      }
    }
  }
  &__section {
    display: flex;
    align-items: center;
  }
  &__cart {
    color: $yel;
    font-weight: 500;
    font-size: $fs16;
    padding: 5px 0;

    &-count {
      background-color: #343434;
      color: #8a8a8a;
      padding: 1px 10px;
      margin-left: 1rem;
    }
  }
  &__phone {
    display: block;
    text-align: right;
    padding-top: 2rem;
    a {
      font-size: $fs16;
      color: $wht;
    }
    &-span {
      color: #999999;
      padding-top: 0.5rem;
      font-size: $fs14;
    }
  }
  &__bot {
    display: flex;
    justify-content: space-between;
  }
  &__category {
    padding-top: 1.6rem;
    display: grid;
    padding-bottom: 3.75rem;
    grid-template-columns: repeat(3, minmax(144px, 207px));
    &-item {
      padding-bottom: 1rem;
      &:nth-last-child(-n + 3) {
        padding-bottom: 0;
      }
      a {
        color: #827c7c;
      }
    }
  }
  &__social {
    padding-top: 1.6rem;
    display: flex;
    align-items: flex-end;
    padding-bottom: 3.75rem;
    &-list {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 100%;
    }
    &-icon {
      fill: $wht;
      margin-left: 2rem;
    }
  }
  &__politics {
    text-align: center;
    height: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    background-color: #202020;
    color: $wht;
    font-size: $fs12;
    font-weight: normal;

  }
}
// MENU
.menu {
  width: 100%;
  .row {
    margin: 0;
  }
  &__section {
    &-btn {
      padding: 18px 49px;
      background-color: $yel;
      font-weight: 500;
      &-icon {
        margin-right: 1rem;
      }
    }
    &-search {
      flex-grow: 1;
      height: 100%;
    }
  }
  &__search {
    height: 100%;
    &::before {
      content: "";
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: 4.2rem;
      margin-left: 1rem;
      background: url("/assets/img/icon/search.svg") center no-repeat;
    }
    &-input {
      width: 100%;
      padding: 1.125rem 0 1.125rem 2.875rem;
      border: 0;
    }
  }
  &__dropdown {
    padding: 1rem 2rem;
    position: absolute;
    z-index: 999;
    background: $wht;
    box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.03);
    &-menu {
      display: flex;
      flex-wrap: wrap;
    }
    &-main {
      width: 16.6666666667%;
      padding: 0 1rem 1rem 1rem;
      a {
        font-weight: 500;
        font-size: $fs16;
        line-height: 19px;
        color: $blk;
      }
    }
    &-sub {
      padding: 1rem 0;
      li {
        padding-bottom: 0.5rem;
      }
      a {
        font-weight: normal;
        font-size: $fs14;
        line-height: 16px;
        color: $gray;
        &:hover {
          color: $blk;
        }
      }
    }
  }
}
//slider
.slider {
  padding-top: 35px;
  overflow: hidden;
  &__slider {
    padding: 0;
    &:first-child {
      padding-right: 1rem;
    }
  }
  .swiper__slide {
    display: block;
    background: $wht;
    height: 456px;
    border-bottom: 4px solid $yel;
    padding: 2rem 3rem;
    &-title {
      font-weight: 700;
      font-size: 2.25rem;
      line-height: 42px;
      margin-bottom: 2rem;
    }
    &-sub {
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 28px;
      margin-bottom: 0.5rem;
    }
    &-desc {
      font-weight: 300;
      font-size: 1.125rem;
      line-height: 24px;
      max-width: 408px;
    }
    &-img {
      position: absolute;
      right: -1rem;
      width: 423px;
      top: 30%;
    }
    &-btn {
      position: absolute;
      left: 3rem;
      bottom: 3rem;
    }
    &-prev,
    &-next {
      position: absolute;
      bottom: 3rem;
      width: 3rem;
      height: 3rem;
      z-index: 1;
    }
    &-prev {
      right: 6.2rem;
      background: url("/assets/img/icon/arrow.svg") center no-repeat $lig;
    }
    &-next {
      right: 3rem;
      transform: rotate(180deg);
      background: url("/assets/img/icon/arrow.svg") center no-repeat $lig;
    }
  }
  &__delivery,
  &__repair {
    height: 220px;
    padding: 1.625rem 2rem;
    &-title {
      font-weight: 500;
      font-size: $fs24;
      margin-bottom: 1rem;
    }
    &-sub {
      font-weight: 300;
      font-size: 1.125rem;
      line-height: 24px;
      margin-bottom: 4rem;
    }
  }
  &__delivery {
    margin-bottom: 1rem;
    background: url("/assets/img/delivery.png") right 10px bottom no-repeat $wht;
    .btn-link {
      &::before {
        content: "";
        width: 1rem;
        height: 1rem;
        position: absolute;
        left: 7.5rem;
        background: url("/assets/img/icon/long-arrow.svg") center no-repeat;
        filter: invert(81%) sepia(52%) saturate(745%) hue-rotate(324deg) brightness(100%) contrast(93%);
      }
      &:hover {
        &::before {
          filter: none;
        }
      }
    }
  }
  &__repair {
    background: url("/assets/img/repair.png") right 25px bottom no-repeat $wht;
    .btn-link {
      &::before {
        content: "";
        width: 1rem;
        height: 1rem;
        left: 7.5rem;
        position: absolute;
        background: url("/assets/img/icon/long-arrow.svg") center no-repeat;
        filter: invert(81%) sepia(52%) saturate(745%) hue-rotate(324deg) brightness(100%) contrast(93%);
      }
      &:hover {
        &::before {
          filter: none;
        }
      }
    }
  }
}
//futured-product
.futured-product {
  margin-top: 3.5rem;
  @media ($tablet) {
    .row {
      margin-right: -8px;
    }
  }
  &-title {
    margin-bottom: 2rem;
  }
}
.card {
  background-color: $wht;
  padding: 1rem;
  margin-right: 1rem;
  &__image {
    text-align: center;
  }
  &__name {
    font-size: $fs16;
    font-weight: normal;
    line-height: 1.5rem;
    color: $blk;
    padding-top: 0.3rem;
    min-height: 50px;
  }
  &__category {
    font-size: $fs14;
    font-weight: 300;
    line-height: 1.3rem;
    color: $hvr;
    padding-top: 0.685rem;
  }
  &__button {
    display: flex;
    justify-content: space-between;
    padding-top: 1.3125rem;
    &-card {
      background: none;
    }
  }
  &__price {
    font-weight: 500;
    font-size: $fs18;
  }
  &__no-price {
    font-weight: 500;
    font-size: $fs18;
    color: $hvr;
    padding: 0;
    background: none;
  }
}

// html
.html {
  margin-top: 3.5rem;
  margin-bottom: 6rem;
  &__title {
    margin-bottom: 1.5rem;
  }
  &__info {
    font-size: $fs16;
    font-weight: 300;
    line-height: 1.5rem;
  }
}
