$mobile: (max-width : 479px);
$mobile-min: (min-width : 480px);
$mobile-lg: (max-width : 639px);
$mobile-lg-min: (min-width : 640px);
$tablet: (max-width : 767px);
$tablet-min: (min-width : 768px);
$tablet-lg: (max-width : 1023px);
$tablet-lg-min: (min-width : 1024px);
$desktop: (max-width : 1279px);
$desktop-min: (min-width : 1280px);
$desktop-lg: (max-width : 1599px);
$desktop-lg-min: (min-width : 1600px);
$desktop-xl: (max-width : 1919px);
