* { -webkit-appearance: none; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(255,255,255,0);
	&:focus { outline: none;}
    &::-moz-selection { background: $blk_50; color: $wht; }
    &::selection { background: $blk_50; color: $wht; }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type='number'] { -moz-appearance:textfield;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; appearance: none;}

// FORM
::-webkit-input-placeholder { color: $blk_35;}
::-moz-input-placeholder { color: $blk_35;}
:-moz-input-placeholder { color: $blk_35;}
:-ms-input-placeholder { color: $blk_35;}
::placeholder { color: $blk_35;}
:placeholder-shown { color: $blk_35;}
label {}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
textarea { box-sizing: border-box; resize: none; font-family: inherit;
	&:focus { outline: none;}
}
textarea { white-space: pre-wrap; word-wrap: break-word; font-family: inherit;}
input[type="checkbox"] {}
input[type="radio"] {}
button,
input[type="submit"],
input[type="button"] { border: 0; box-sizing: border-box; cursor: pointer; font-family: inherit;}
button:active,
input[type="submit"]:active,
input[type="button"]:active {}
fieldset { position: relative; font-family: inherit;}
select { font-family: inherit;}
